{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Liste des articles</h2>
<a href="{{ url_for('main.new_article') }}">Créer un nouvel article</a>
<ul>
    {% for article in articles %}
        <li>
            <strong>{{ article.title }}</strong>
            <a href="{{ url_for('main.edit_article', id=article.id) }}">Modifier</a>
            <a href="{{ url_for('main.delete_article', id=article.id) }}">Supprimer</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
